<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Page</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <nav>
    <div class="logo">
      <a href="#">LightQuiz</a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/quizzes/new">Create Quiz</a></li>
      <li><a href="/quizzes/myquizzes">My Quizzes</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
  </nav>
  <div id="quiz">
    <% if(quizzes.length > 0) {%>
    <h2><%= quizzes[0].title %></h2>
    <% } %>
    <form id="quiz-form" action="/quizzes/submit_answers/<%=quizzes[0].quiz_id%>" method="post">
      <% for(let i = 0; i < quizzes.length; i+= 4) { %>
      <p><%= quizzes[i].question%></p>

      <% for(const answer of quizzes) { %> <%if (answer.question_id ===
        quizzes[i].question_id){%>
      <label>
        <input type="radio" name="answer[question<%=answer.question_id%>]" value="<%=answer.id%>" />
        <%= answer.answer%>
      </label>
      <% } %> <% } %>

      <% } %>
      <button id=" quiz-submit-btn" type="submit">Submit</button>
    </form>
  </div>

  <footer>
    <p>&copy; 2023 LightQuiz. All rights reserved.</p>
  </footer>
</body>

</html>
